* {
    margin: 0;
    font-family: 'Courier New', monospace;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.board {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 500px;
    width: 500px;
    gap: 2px;
    background-color: black;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    cursor: pointer;
}

.buttons-container {
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 50px;
    cursor: pointer;
}
